VITE_SERVER_URL="http://localhost:3000"
VITE_PH_ENABLED="true"
VITE_POSTHOG_KEY=""
VITE_POSTHOG_HOST="https://eu.i.posthog.com"
VITE_POSTHOG_DISABLED="false"
VITE_POSTHOG_DEBUG="false"
VITE_POSTHOG_REPLAY_FORCE="false"
VITE_POSTHOG_REPLAY_SAMPLE_RATE="0.02"

# Optional
TURSO_AUTH_TOKEN=""
TURSO_DATABASE_URL=""
